@import url('https://fonts.googleapis.com/css?family=Cantarell:400,400i');


.nav-wrapper {
  padding: 1.55rem;
}
nav.greedy {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
  margin-bottom: 27px;
}

nav.greedy h1 {
/*  display: flex;
  font-size: 1.8em;
  align-self: stretch;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: bold;*/
}

nav.greedy img {
  position: absolute;
  top: .5em;
  padding-top: .7rem;
  max-width: 80%;
  max-height: 90px;
  z-index: -1;
}

nav.greedy button {
  align-self: stretch;
  transition: all .4s ease-out;
  padding: 0 1rem 0 1.5rem;
  outline: 0;
  border: 0;
  font-weight: bold;
  box-shadow: 2px 2px 2px #000;
  background: #fff200;
  color: #404040;
}

nav.greedy button.hidden {
  transition: none;
  border-right: 0.5rem solid #b6b6b6;
  width: 0;
  padding: 0;
  overflow: hidden;
  border-right: none;
}

nav.greedy button::after {
  content: attr(count);
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: #32ff7e;
  color: #4b4b4b;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  margin-left: .7rem;
  margin-right: calc(-1rem + -8px);
}

ul.links {
  margin: 0 0 0 5em;
  list-style: inside circle;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
}

ul.links li {
  font-family: "Cantarell";
  font-style: italic;
  margin: 0;
  flex: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

ul.links li a {
  color: #7efff5;
}

ul.hidden-links {
  font-family: "Cantarell";
  text-transform: uppercase;
  list-style: circle;
  position: absolute;
  background: #3d3d3d;
  box-shadow: 0 0 300px rgba(0,0,0,1);
  right: 0;
  top: 100%;
}

ul.hidden-links li a {
  color: #7efff5;
  padding-right: 1rem;
}

ul.hidden-links li a:hover {
  color: #ddd;
}

ul.hidden-links.hidden {
  display: none;
}

ul.hidden-links li {
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  nav.greedy button::after {
    display: none;
  }

  nav.greedy button {
    padding-right: 1.678rem;
  }
}
