.errors-list p {
	text-align: center;
	margin: auto;
	color: #7efff5;
	text-shadow: 0 0 44px #7efff5;
	text-decoration: underline;
	text-decoration-color: #7d5fff;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .3;
  }
}
#error-msg > div {
	z-index: 100;
	position: absolute;
	top: 25%;
	left: 5%;
	right: 5%;
}

#error-msg > div p {
	color: #ff3838;
}
#error-msg:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	height: 100vh;
	width: 100vw;
}