.errors-list p {
	text-align: center;
	margin: auto;
	color: #7efff5;
	text-shadow: 0 0 44px #7efff5;
	text-decoration: underline;
	text-decoration-color: #7d5fff;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .3;
  }
}