#error-msg > div {
	z-index: 100;
	position: absolute;
	top: 25%;
	left: 5%;
	right: 5%;
}

#error-msg > div p {
	color: var(--error-red);
}

#error-msg:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	height: 100vh;
	width: 100vw;
}


#notice-msg > div {
	z-index: 100;
	position: absolute;
	top: 25%;
	left: 5%;
	right: 5%;
}

#notice-msg > div p {
	color: var(--electric-green);
	text-decoration: underline;
	text-decoration-color: #fff;
	font-size: 2em;

}
#notice-msg:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	height: 100vh;
	width: 100vw;
}

